<% provide(:title, if @user then @user.name end) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      	<% if @user %>
          <%= gravatar_for @user %>
          <%= @user.name %>
          <%= @user.email %>
        <% else %>
       	  This user does not exist
        <% end %>
      </h1>
    </section>
  </aside>
</div>
